.comment-block {
    width: 30%;
}
.comment-block h3 {
    margin-bottom: 15px;
}

.comment-list{
    margin-bottom: 15px;
}

.comment-list .project-comment{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-list .comment-indicators {
    align-self: end;
}

.comment-list .project-comment .avatar-name{
    display: flex;
    align-items: center;
}

.project-comment:hover {
    cursor: pointer;
    background: rgb(234, 234, 234);
}

.project-comment .avatar-name span {
    margin-left: 10px;
    font-weight: 500;
}

.project-comment p {
    color: var(--text-color);
}


.project-comment .text-content {
    margin: 5px 0;
    font-size: 1.1em;
}

.project-comment .comment-indicators img {
    width: 24px;
    height: 24px;
    filter: invert(40%);
}

/* add section */

.add-project-comment form textarea {
    min-height: 100px;
    margin-bottom: 10px;

}

.add-project-comment form .btn {
    margin-bottom: 15px;
}

