.project-brief {
    width: 65%;
    margin-right: 60px; 
    height: 100%;
}

.project-detail {
    padding: 25px;
}

.project-detail .timestamp{
    color: var(--primary-color);
    font-weight: 500;
}
.project-detail img {
    width: var(--avatar-large);
    height: var(--avatar-large);
}

.project-detail .text-content {
    color: var(--text-color);
    margin: 25px 0;
    font-size: 1.1em;
}

.project-detail h4 {
    margin-bottom: 20px;
}

.project-detail .avatar-large{
    margin-left: 10px;
}


.project-detail .row {
    align-items: center;
    justify-content: space-between;
}

.project-detail .users-display {
    display: flex;
    align-items: center;
}

.project-detail .add-delete-user img{
    width: 48px;
    height: 48px;
    margin-right: 15px;
}

.project-detail .add-delete-user img:hover{
    filter: invert(50%);
}


.project-brief .complete-btn {
    margin-top: 25px;
}


/* add user dialog */
.add-delete-user {
    position: relative;
}

.add-delete-user .dialog { 
    position: absolute;
}


/* .add-delete-user .dialog {

    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
} */