.project-filter {
    background: #fff;
    padding: 10px 5px;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: flex;
}


.project-filter .active {
    color: var(--primary-color);
}

.project-filter span {
    margin-right: 10px;
    font-weight: 600;
}

.project-filter button {
    color: var(--text-color);
    font-size: 1em;
    font-weight: 800;
    background: none;
    border: none;
    border-right: solid var(--text-color) 1px;
    cursor: pointer;
}

.project-filter button:hover {
    color: rgba(73, 73, 73);
}

.sort-section {
    margin-left: 45px;
}

