.project-grid  {
    margin-top: 30px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(min-content, 270px));
    grid-gap: 35px;
}



.project-grid .project-card {
    cursor: pointer;
}

.project-grid .project-card:hover {
    background: rgb(234, 234, 234);
}

.project-card .timestamp {
    color: var(--primary-color);
    font-weight: 500;
}

.project-grid .project-card img {
    width: var(--avatar-small);
    height: var(--avatar-small);
    margin: 10px 0;
    margin-right: 10px;
}
