.chat-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

.chat-list .chat  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
}

.chat-list .chat p:first-of-type {
    color: var(--text-color);
}

.chat-list .chat p:nth-of-type(2) {
    font-weight: 500;
}


.chat-list .chat p:nth-of-type(3):hover{
    cursor: pointer;
}


.chat-list .chat img {
    width: 20px;
    height: 20px;
    justify-self: center;
}

.chat-list .chat #delete-chat:hover{
    filter: invert(40%);
    cursor: pointer;
}