.header {
    display: flex;
    justify-content: space-between;
    height: 95px;
    /* background: #787272; */
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo h4{
    font-size: 1.1em;
    margin-left: 10px;
}

.header>a {
    margin: auto 0;
}

.header .btn {
    margin: auto 0;
}