#user-bar {
    background: #fff;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.03);
}

.user-bar-container {
    display:flex;
    flex-direction: column;
    position: sticky;
    top:0;
    max-width: 210px;
    box-sizing: border-box;
    padding: 25px;
}


.user-bar-container h3{
    text-align: end;
    padding-bottom: 15px;
    border-bottom: #dcd8d8 solid 1px;
}

.user-status-list {
    margin-top:50px;
}

.user-status {
    display:flex;
    align-items: center;
    justify-content: right;
    margin: 20px 0;
}

.user-status .avatar {
    width: var(--avatar-middle);
    height: var(--avatar-middle);
    margin-left: 8px;
}

.user-status .avatar:hover {
    filter: invert(20%);
}

.user-status p {
    margin-left: 8px;
}


.user-status span{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #0ebb50;
    border-radius: 50%;
}

.user-bar-container .collapse-btn {
    width: var(--avatar-middle);
    height: var(--avatar-middle);
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: block;
}

.user-bar-container .collapse-btn:hover {
    filter: invert(50%);
} 
.user-bar-container.user-bar-container-collapse {
    display:flex;
    flex-direction: column;
    width: 48px;
    padding: 0px;
    font-size: 0.8em;
    text-align: center;
}

.user-bar-container.user-bar-container-collapse .avatar {
    margin: auto;
}

.user-bar-container.user-bar-container-collapse h3{
    text-align: center !important;
}

.user-bar-container.user-bar-container-collapse .collapse-btn  {
    right:2px;
}

